#--------------------------
# disallow anything
#--------------------------
**

#--------------------------
# allow explicit
#--------------------------
!package.json
!package-lock.json

# Used by multiple projects:
# - /apps/api/Dockerfile
!tsconfig.json
!angular.json
!dist/



# Used by: /.deployment/nginx/Dockerfile
!.deployment/
!.ssl/
