@import url('https://fonts.googleapis.com/css?family=Bangers|Roboto+Slab&display=swap&subset=latin-ext');

html,
body {
  margin: 0;
  font-family: 'Roboto Slab', 'Helvetica', sans-serif;
  font-size: 18px;
}


* {
  box-sizing: border-box;
}
