<div class="content" [class.key-player]="isKeyPlayer$ | async">

  <input type="text" #login>
  <button (click)="_login(login.value)">Login</button>

  <input type="text" #lobby>
  <button (click)="_joinLobby(lobby.value)">Join Lobby</button>
  <h3>
    {{ _getDisplay(role$ | async) }}
    {{ playerId$ | async }}
  </h3>

  <strong>Round: {{ rounds$ | async }}</strong>
  <h4>Revealed: <span *ngFor="let card of revealed$ | async"> {{ _getDisplay(card) }}</span></h4>

  <div class="state">
    <div>
      <h4>My hand</h4>
      <span *ngFor="let card of hand$ | async"> {{ _getDisplay(card) }}</span>
    </div>

    <h4>Players:</h4>
    <div class="players">
      <div
        class="player"
        *ngFor="let player of players$ | async; let i = index"
      >
        {{ player.name }}
        <hr/>
        pretended:
        <div>
          <span *ngFor="let card of player.pretendedHand">
            {{ _getDisplay(card) }}</span
          >
        </div>
        <hr/>
        hand:
        <div>
          <button
            class="player-card"
            *ngFor="let card of player.revealed; let cardIndex = index"
            [attr.disabled]="_cardAlreadyRevealed(card) ? true : undefined"
            (click)="_reveal(player.id, cardIndex)">
            {{ _getDisplay(card) }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<pre class="sidebar">
  <form *ngIf="hand$ | async as hand" #tellForm="ngForm" (ngSubmit)="_tellHand(tellForm)">
    <h4>tell your hand</h4>
    <div class="tell">
      <label for="gold">
        <span>👑</span>
        <input
          id="gold"
          name="4"
          type="number"
          [ngModel]="_getOccurrences(hand, 4)"
        />
      </label>
      <label for="empty">
        <span>💨</span>
        <input
          id="empty"
          name="2"
          type="number"
          [ngModel]="_getOccurrences(hand, 2)"
        />
      </label>
      <label for="fire">
        <span>🔥</span>
        <input
          id="fire"
          name="8"
          type="number"
          [ngModel]="_getOccurrences(hand, 8)"
        />
      </label>

    </div>

    <button type="submit">tell</button>
  </form>
</pre>
