<div class="content">
  <strong>{{ role$ | async }} {{ id$ | async }}</strong>

  <div class="state" *ngIf="gameState$ | async as state">
    <div>
      <span *ngFor="let card of state.hand"> {{ getDisplay(card) }}</span>
    </div>

    <ng-container *ngIf="shouldShowPlayers; else elseTemplate">
      <h4>Players:</h4>
      <div class="players">
        <div class="player" *ngFor="let player of players; let i = index">
          Player {{ i }}
          <div>
            <span *ngFor="let card of player.pretendedHand"> {{ getDisplay(card) }}</span>
          </div>
          <button  (click)="_askPlayer(player.id)">
            ask
          </button>
        </div>
      </div>
    </ng-container>

    <ng-template #elseTemplate>
      <form #tellForm="ngForm" class="tell" (ngSubmit)="_tellHand(tellForm)">
        <h4>tell your hand</h4>
        <label for="gold">
          <span>👑</span>
          <input
            id="gold"
            name="2"
            type="number"
            [ngModel]="_getOccurrences(state.hand, 2)"
          />
        </label>
        <label for="empty">
          <span>💨</span>
          <input
            id="empty"
            name="1"
            type="number"
            [ngModel]="_getOccurrences(state.hand, 1)"
          />
        </label>
        <label for="fire">
          <span>🔥</span>
          <input
            id="fire"
            name="4"
            type="number"
            [ngModel]="_getOccurrences(state.hand, 4)"
          />
        </label>

        <button type="submit">tell</button>
      </form>
    </ng-template>
  </div>
</div>

<pre class="debug">{{ actions$ | async | json }}</pre>
